<footer class="footer">
  <div class="footer-container">
    <!-- Contact Information -->
    <div class="contact-info">
      <p>Email: <a href="mailto:dylan@djps-llc.com" class="footer-link">dylan&#64;djps-llc.com</a></p>
      <p>Phone: <a href="tel:+12074239926" class="footer-link">(207) 423-9926</a></p>
    </div>

    <!-- Social Icons -->
    <div class="social-icons">
      <a href="https://www.facebook.com/DJewettPropertyServices" target="_blank" class="social-link">
        <i class="pi pi-facebook social-icon"></i>
      </a>
      <a href="https://www.instagram.com/djewett_property_services/" target="_blank" class="social-link">
        <i class="pi pi-instagram social-icon"></i>
      </a>
    </div>
  </div>

  <!-- Company Info -->
  <div class="company-info">
    <a href="mailto:dev@madhareconsulting.com" class="company-link">
      © 2025 Mad Hare Consulting, LLC. All rights reserved.
    </a>
    <div class="company-links">

    <span class="company-link">   We use Google Analytics and Google Signals for tracking and analyzing site traffic. See Google's
      <a href="https://policies.google.com/privacy"  clss="company-link">
        privacy policy
      </a>
    </span>
    </div>
</div>
</footer>
